<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Parameter Values</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Model Parameter Values</h1>
        
        {% include 'menu.html' %}
        
        <form id="dynamicForm">
            <!-- Form elements will be added here -->
        </form>
        <button type="submit" form="dynamicForm">Submit</button>
    </div>
    <script src="{{ url_for('static', filename='param_values.js') }}"></script>
</body>
</html>